  <!--=====================================
    Home Content
    ======================================-->

  <div id="homepage-6">
    <app-home-banner></app-home-banner>
    <app-home-features></app-home-features>
    <app-home-promotions></app-home-promotions>
    
    <!--=====================================
    Home Deal Hot Today
    ======================================-->
    <div class="ps-deal-hot">
      <div class="container">
        <div class="row">
          <!--=====================================
          Column Deal Hot
          ======================================-->
          <div class="col-xl-9 col-12 ">
            <app-hot-today></app-hot-today>
          </div>
          <!--=====================================
					Column Top 20 Best Seller
    			======================================-->  
          <div class="col-xl-3 col-12 ">
            <app-top-best-seller></app-top-best-seller>
          </div>
        </div>
      </div>
    </div>

  </div>
